@font-face {
  font-family: "thelastshuriken";
  src: url("./img/TheLastShuriken.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(to right, #fbf7f0 60%, #d64040 40%);
}

.dikeydiv {
  position: absolute;
  top: 37%;
  left: 20px;
  transform: translateY(-35%) rotate(-90deg);
}

.dikeyyazi {
  color: black;
  font-size: 150px;
  font-family: "thelastshuriken", sans-serif;
  text-align: right;
  line-height: 0.95;
}

.ust-cizgi {
  position: relative;
  display: inline-block;
}

.ust-cizgi::before {
  content: "";
  position: absolute;
  top: 45px;
  left: -15px;
  width: 444px;
  height: 17px;
  background-color: #d64040;
  pointer-events: none;
}

.sagorta {
  width: 530px;
  height: 550px;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  right: 23%;
}

.resim {
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.popup-btn {
  margin-top: 570px;
  margin-left: auto;
  display: block;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffeef8;
  color: #d64040;
  border: none;
  cursor: pointer;
  border-radius: 1px;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 1px;
  position: relative;
  width: 1200px;
  height: 280px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 45px;
  cursor: pointer;
  color: #000000;
}

.close-btn:hover {
  color: #d64040;
}

.social-links a {
  font-size: 30px;
  margin: 10px;
  color: #d64040;
  text-decoration: none;
}

.sagortayazi {
  width: 350px;
  height: 100px;
  position: absolute;
  top: 544px;
  font-size: 25px;
  box-sizing: border-box;
  line-height: 1.5;
}

.cizdiv {
  border-radius: 10px;
  padding: 12px;
  position: relative;
  margin-top: 10px;
}

.widget {
  display: flex;
  gap: 15px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 25px;
  width: 100%;
}

.acab {
  background-color: red;
  color: white;
  padding: 10px 0;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  word-spacing: 300px;
  text-shadow: #000000 0px 0px 10px;
}

.acab span {
  display: inline-block;
  padding-left: 100%;
  animation: kayma 25s linear infinite;
}

.happi {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff8c00,
    #ffff00,
    #008000,
    #0000ff,
    #4b0082,
    #ee82ee
  );
  background-size: 1400% 1400%;
  animation: rainbowBg 50s ease infinite;
  color: white;
  text-shadow: #000000 0px 0px 10px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

@keyframes rainbowBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.happi span {
  display: inline-block;
  padding-left: 100%;
  animation: kayma 30s linear infinite;
}

@keyframes kayma {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
