body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.options {
    width: 570px;
    height: 467px;
    background-color: #4a5942;
    padding: 5px;
    border-radius: 0px;
    position: relative;
    border-top: 1px solid #8C9284;
    border-left: 1px solid #8C9284;
    border-right: 1px solid #292C21;
    border-bottom: 1px solid #292C21;
}

.panel {
    height: 363px;
}

.logo {
    width: 25px;
    height: auto;
    margin-top: 0px;
}

#titlenick {
    margin-top: -5px;
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 15px;
}

#spotifyimg {
    margin-top: 3px;
    margin-bottom: 2px;
    width: 196px;
}

#discordimg {
    margin-top: 12px;
    margin-bottom: 2px;
    width: 478.8px;
}

#sayacimg {
    margin-top: 12px;
    margin-bottom: 2px;
    width: 478.8px;
}

#lastfmimg {
    margin-top: 12px;
    margin-bottom: 2px;
    width: 478.8px;
    height: 220px;
}

#spotifyimg,
#discordimg,
#sayacimg,
#lastfmimg {
    border-top: 1px solid #8C9284;
    border-left: 1px solid #8C9284;
    border-right: 1px solid #292C21;
    border-bottom: 1px solid #292C21;
}

.bottom {
    margin-top: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 9px;
    right: 10px;
}

#bottomtusic {
    width: 72px;
    text-align: left;
    margin-left: auto;
}

.kapamatusu,
.bottomtus {
    margin-left: auto;
}

#oldver {
    position: relative;
    top: 120px;
}