body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    color: white;
}

h1,
h4,
h5,
h6 {
    text-align: center;
}

h4,
h6 {
    margin-top: -15px;
}

.roy {
    column-count: 3;
    column-gap: 10px;
}

.roy a {
    display: inline-block;
    width: 100%;
}

.about-link {
    color: #2a95ff;
    display: inline-block;
}

.about-link:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    margin-top: 10px;
}

.text-overlay {
    position: absolute;
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    margin-block: 15px;
    margin-inline-start: 10px;
}