html, body {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

body {

    background-image: url("img/Shibuya.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  


#mainImage {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 20;
    width: 100%;
    height: auto;
    transform: translateX(10%);
    transition: transform 0.52 ease;
}

#mainImage.slide-left {
    transform: translateX(-5%);
    transition: transform 0.2s ease;
}

#newImage {
    display: none;
}

#newImage.slide-in {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 22;
    width: 100%;
    height: auto;
}

#Letterboxing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#karaaa {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 20;
}

.imagecontainer{
    display: none;
}

.imagecontainer.activemenu {
    display: flex !important;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .layer {
    position: absolute;
    bottom: 18vh;
    right: 20vw;
    width: 40vw;
    height: auto;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    z-index: 23;
  }
  
  @media (max-width: 1000px) {
    .layer {
      bottom: 13vh;
      width: 40vw;
    }
  }
  
  @media (max-width: 768px) {
    .layer {
      bottom: 8vh;
      width: 50vw;
    }
  }
  
  @media (max-width: 500px) {
    .layer {
      bottom: 3vh;
      width: 60vw;
    }
  }
  
  .active {
    opacity: 1;
  }

#gifOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

#loadingGif {
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}